In [2]:
import pandas as pd

# Define the paths to your CSV files
file_paths = [
    'Data/Combined_CSV/api_data_aadhar_biometric_combined.csv',
    'Data/Combined_CSV/api_data_aadhar_demographic_combined.csv',
    'Data/Combined_CSV/api_data_aadhar_enrolment_combined.csv'
]

# Read each CSV file into separate DataFrames
df_biometric = pd.read_csv(file_paths[0])
df_demographic = pd.read_csv(file_paths[1])
df_enrolment = pd.read_csv(file_paths[2])

In [3]:
# Define dataframes dictionary
dataframes = {
    'Biometric': df_biometric,
    'Demographic': df_demographic,
    'Enrolment': df_enrolment
}
# Create and display summary comparison table
print("="*80)
print("ðŸ“Š DATASET SUMMARY COMPARISON")
print("="*80)
summary_data = []
for name, df in dataframes.items():
    summary_data.append({
        'Dataset': name,
        'Rows': f"{df.shape[0]:,}",
        'Columns': df.shape[1],
        'Memory (MB)': f"{df.memory_usage(deep=True).sum() / 1024**2:.2f}",
        'Missing Values': df.isnull().sum().sum(),
        'Duplicates': df.duplicated().sum()
    })
summary_df = pd.DataFrame(summary_data)
print(summary_df.to_string(index=False))
# Display detailed info for each DataFrame
print("\n" + "="*80)
print("ðŸ“‹ DETAILED DATAFRAME INFO")
print("="*80)
for name, df in dataframes.items():
    print(f"\n{'='*60}")
    print(f"{name} DataFrame Info:")
    print(f"{'='*60}")
    df.info()

================================================================================
ðŸ“Š DATASET SUMMARY COMPARISON
================================================================================
    Dataset      Rows  Columns Memory (MB)  Missing Values  Duplicates
  Biometric 1,861,108        6      354.45               0       94896
Demographic 2,071,700        6      394.80               0      473601
  Enrolment 1,006,029        7      199.12               0       22957

================================================================================
ðŸ“‹ DETAILED DATAFRAME INFO
================================================================================

============================================================
Biometric DataFrame Info:
============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1861108 entries, 0 to 1861107
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   date          object
 1   state         object
 2   district      object
 3   pincode       int64
 4   bio_age_5_17  int64
 5   bio_age_17_   int64
dtypes: int64(3), object(3)
memory usage: 85.2+ MB

============================================================
Demographic DataFrame Info:
============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2071700 entries, 0 to 2071699
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   date           object
 1   state          object
 2   district       object
 3   pincode        int64
 4   demo_age_5_17  int64
 5   demo_age_17_   int64
dtypes: int64(3), object(3)
memory usage: 94.8+ MB

============================================================
Enrolment DataFrame Info:
============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006029 entries, 0 to 1006028
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   date            1006029 non-null  object
 1   state           1006029 non-null  object
 2   district        1006029 non-null  object
 3   pincode         1006029 non-null  int64
 4   age_0_5         1006029 non-null  int64
 5   age_5_17        1006029 non-null  int64
 6   age_18_greater  1006029 non-null  int64
dtypes: int64(4), object(3)
memory usage: 53.7+ MB

In [6]:
df_biometric.describe()

            pincode  bio_age_5_17   bio_age_17_
count  1.861108e+06  1.861108e+06  1.861108e+06
mean   5.217612e+05  1.839058e+01  1.909413e+01
std    1.981627e+05  8.370421e+01  8.806502e+01
min    1.100010e+05  0.000000e+00  0.000000e+00
25%    3.911750e+05  1.000000e+00  1.000000e+00
50%    5.224010e+05  3.000000e+00  4.000000e+00
75%    6.866362e+05  1.100000e+01  1.000000e+01
max    8.554560e+05  8.002000e+03  7.625000e+03

In [5]:
# Display descriptive statistics for each DataFrame
print("\n" + "="*80)
print("ðŸ“Š DESCRIPTIVE STATISTICS")
print("="*80)

for name, df in dataframes.items():
    print(f"\n{'='*60}")
    print(f"{name} DataFrame Description:")
    print(f"{'='*60}")
    print(df.describe())

================================================================================
ðŸ“Š DESCRIPTIVE STATISTICS
================================================================================

============================================================
Biometric DataFrame Description:
============================================================
            pincode  bio_age_5_17   bio_age_17_
count  1.861108e+06  1.861108e+06  1.861108e+06
mean   5.217612e+05  1.839058e+01  1.909413e+01
std    1.981627e+05  8.370421e+01  8.806502e+01
min    1.100010e+05  0.000000e+00  0.000000e+00
25%    3.911750e+05  1.000000e+00  1.000000e+00
50%    5.224010e+05  3.000000e+00  4.000000e+00
75%    6.866362e+05  1.100000e+01  1.000000e+01
max    8.554560e+05  8.002000e+03  7.625000e+03

============================================================
Demographic DataFrame Description:
============================================================
            pincode  demo_age_5_17  demo_age_17_
count  2.071700e+06   2.071700e+06  2.071700e+06
mean   5.278318e+05   2.347552e+00  2.144701e+01
std    1.972933e+05   1.490355e+01  1.252498e+02
min    1.000000e+05   0.000000e+00  0.000000e+00
25%    3.964690e+05   0.000000e+00  2.000000e+00
50%    5.243220e+05   1.000000e+00  6.000000e+00
75%    6.955070e+05   2.000000e+00  1.500000e+01
max    8.554560e+05   2.690000e+03  1.616600e+04

============================================================
Enrolment DataFrame Description:
============================================================
            pincode       age_0_5      age_5_17  age_18_greater
count  1.006029e+06  1.006029e+06  1.006029e+06    1.006029e+06
mean   5.186415e+05  3.525709e+00  1.710074e+00    1.673441e-01
std    2.056360e+05  1.753851e+01  1.436963e+01    3.220525e+00
min    1.000000e+05  0.000000e+00  0.000000e+00    0.000000e+00
25%    3.636410e+05  1.000000e+00  0.000000e+00    0.000000e+00
50%    5.174170e+05  2.000000e+00  0.000000e+00    0.000000e+00
75%    7.001040e+05  3.000000e+00  1.000000e+00    0.000000e+00
max    8.554560e+05  2.688000e+03  1.812000e+03    8.550000e+02